
<!-- Message success start -->
<div id="message_success_area" class="alert alert-success fade in" style="display: none;">
    <a id="message_success_x_close" title="close" aria-label="close" class="close" href="#">x</a>
    <strong id="message_title_success">Success!</strong> <span id="message_body_success">This alert box indicates a successful or positive action.</span>
</div>
<!-- Message success end -->
<!-- Message info start -->
<div id="message_info_area" class="alert alert-info fade in" style="display: none;">
    <a id="message_info_x_close" title="close" aria-label="close" class="close" href="#">x</a>
    <strong id="message_title_info">Info!</strong> <span id="message_body_info">This alert box indicates a neutral informative change or action.</span>
</div>
<!-- Message info end -->
<!-- Message warning start -->
<div id="message_warning_area" class="alert alert-warning fade in" style="display: none;">
    <a id="message_warning_x_close" title="close" aria-label="close" class="close" href="#">x</a>
    <strong id="message_title_warning">Warning!</strong> <span id="message_body_warning">This alert box indicates a warning that might need attention.</span>
</div>
<!-- Message warning end -->
<!-- Message danger start -->
<div id="message_danger_area" class="alert alert-danger fade in" style="display: none;">
    <a id="message_danger_x_close" title="close" aria-label="close" class="close" href="#">x</a>
    <strong id="message_title_danger">Danger!</strong> <span id="message_body_danger">This alert box indicates a dangerous or potentially negative action.</span>
</div>
<!-- Message danger end -->

