<!DOCTYPE html><html lang="en">
  <head>
    <title><?php echo $htmlTitle; ?></title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
        
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

    <script src="//code.jquery.com/jquery-1.9.1.js"></script>    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.js" type="text/javascript" language="JavaScript"></script>
    <script type='text/javascript' src='//cdn.datatables.net/1.10.16/js/jquery.dataTables.js'></script>  
    <script type='text/javascript' src='//cdn.datatables.net/1.10.16/js/dataTables.bootstrap.js'></script>      
    <script type='text/javascript' src='//cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.js'></script>      

    <script type='text/javascript' src='./<?php echo DIRECTORY_VIEWS; ?>/NotifyMessages/Js/NotifyMessages.js'></script>  
    <script type='text/javascript' src='./<?php echo DIRECTORY_VIEWS; ?>/User/Js/UserModel.js'></script>  
  </head>
  <body>

