
    <!-- Add User Form start -->
    <form method="post" name="userCreateForm" id="userCreateForm" action="user-api.php">
        <input type="hidden" name="model" value="User" />
        <input type="hidden" name="action" value="create" />
    
        <div class="row">
            <div class="col-xs-<?php echo $formBoostrapWidth["col-xs"]; ?> col-sm-<?php echo $formBoostrapWidth["col-sm"]; ?> col-md-<?php echo $formBoostrapWidth["col-md"]; ?> col-lg-<?php echo $formBoostrapWidth["col-lg"]; ?>">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h2>Add User</h2><br />
                    
                        <div class="form-group <?php echo $formBoostrapGroup; ?>">
                            <label for="userName">Name</label>
                            <input type="text" id="userName" name="name" placeholder="Name" value="" class="form-control" required="required" maxlength="30" />
                        </div>

                        <div class="form-group <?php echo $formBoostrapGroup; ?>">
                            <label for="userAge">Age</label>
                            <input type="number" id="userAge" name="age" placeholder="Age [0-120]" value="18" class="form-control" required="required" min="0" max="120"  maxlength="30" />
                        </div>
                    
                    </div>

                    <div class="form-group" style="padding-left: 30px;">
                        <button id="btnAddUser" name="btnAddUser" type="button" class="btn btn-primary" onclick="userModel.create();">Add User</button>
                    </div>        
                
                </div>
            </div>
        </div>
    </form>
    <!-- Add User Form end -->

