
    <div class="form-group">
        <?php require_once(dirname(__FILE__) . "/../NotifyMessages/notify-messages.part.phtml"); ?>
    </div>        

    <!-- Users view data table start -->
    <?php
    $headerCells = array("Name", "Age", "Delete", "Older Users Count");
    ?>
    <table id="userDataTable" class="display compact table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <?php

                foreach ($headerCells as $cell) {
                    ?><th><?php echo $cell; ?></th><?php

                                                };

                                                ?>
            </tr>
        </thead>
        <tbody>
            <tr><td colpan="2" valign="top">Please add User(s)</td></tr>
        </tbody>
        <tfoot>
            <tr>
                <?php

                foreach ($headerCells as $cell) {
                    ?><th><?php echo $cell; ?></th><?php

                                                };

                                                ?>
            </tr>
        </tfoot>
    </table>
    <!-- Users view data table end -->

